<header >
    <nav class="header-landing">
    <a href="../grafico.html" class="a-logo">
        <img class="logo" src="https://previews.dropbox.com/p/thumb/AClc8adUHnylJ92fowCBvPP6yCnwjOtwaxthbH16LU-v98IuzPJinhMpuKLqeGWL-pqDlfKFpVCLXQqfSqfbLQzU4axtvTlK21k30YbsN2xUAUIjLoAZThW-61Xxo_vqSzYKqbVf-sgske8FQq1PsnoukNYI1t5xVyL9BlY2RhnM7pvXfxDiRqUvDEQ2Fe4Fy2B5rPaoYWOodt6YYPlPDZrmO1jitK0Wt313-oZEYLnp7R1cU80MiTewf79UznzS9j4X-CND9E1gp7W3fy8q4vl_XsTDGDQTrF7bdB50HYrb5P7nDiYhPTDGZES2olyqutY/p.png" alt="">
    </a>

    <div class="div-headerlan">
        <ul class="div-headerlan-ul">
            <li class="headerlan-ul-li"><a class="li-a-header" href="">Nosotros</a></li>
            <li class="headerlan-ul-li"><a class="li-a-header" href="">Planes</a></li>
            <li class="headerlan-ul-li"><a class="li-a-header" href="">Aplicacion Movil</a></li>
            <li class="headerlan-ul-li"><a class="li-a-header" href="">Contacto</a></li>
        </ul>
    </div>
</nav>
</header>
