<div class="layout">
  <aside class="sidebar">
    <a href="{% url 'menu' %} " class="logo-menu"
      ><img class="logo-menu"
        src="https://res.cloudinary.com/dgc07kho5/image/upload/v1746370646/image__2_-removebg-preview_u7jt6u.png"
        alt="logo"
    /></a>
    <nav class="menu">
      <a href="#">Tabla de posiciones</a>
      <a href="#">Equipos</a>
      <a href="#">aaaa</a>
      <a href="#">aaaaa</a>
      <a href="#">Comparacion Jugadores</a>
      <a href="#">Busqueda</a>
      <a href="#">Club Info</a>
    </nav>
  </aside>

  <!-- Contenedor principal -->
  <div class="main-content">
    <!-- Menú superior -->
    <header class="topbar">
      <span>aaaa</span>
    </header> 

      <!-- Contenido táctico -->
      <section class="tactics">
        <h2>aaaa</h2>
        <!-- Acá va tu contenido como la cancha, los jugadores, etc. -->
      </section>
  </div>
</div>
