    <section class="section-presentacion">
        <div class="content-container">
            <div class="text-column">
                <h1 class="animated-title">INTELIGENCIA FUTBOLÍSTICA BASADA EN DATOS
                </h1>
                <p class="animated-text">Convertimos estadísticas en información clave para los usuarios.
                    Nuestras visualizaciones interactivas te ayudan a para comprender mejor los datos.
                </p>
                <p class="animated-text">ScoutGine aplica modelos avanzados para procesar datos de coentos de jugadores y
                    competiciones. Presentamos insights claros, útiles y accesibles para mejorar tu análisis.
                </p>
                <a href="/grafico/" class="cta-button">CONOCER MÁS</a>
            </div>

            <div class="image-column">
                <div class="chart-container">
                    <div class="chart-image image-1">
                        <img src="https://previews.dropbox.com/p/thumb/ACng5ODZPiXsnaZj22A5OhH7PEeb2e8yxtgdyzp_JNXSQQA7F2R7pBtYAQRVZMi4E_MWhX3Q6okeMJnnx-DD0D19jU3MsTxNF1eQ8VUHMHM28n74UvQH-hZpEJgxOp_jFLgJB-utVfNeFsy_yY9yS0ruDUS6poeX7hdn24_HDBakIN0lITzTTKGmxIKwFoh4_XD-pP6Oph0_YXdGGXOJercpory4hPGR9b8kGNnj1C9GrGzOLktXHAPw4pZuE_Wqq_y5MU6RyKRzJCTxCOoPW_44OmqMIWU2BlfBBW6kG8ffUhbWYrp6QiVKDK4PRXO8Z4I/p.png"
                            alt="Gráfico de análisis">
                    </div>
                    <div class="chart-image image-2">
                        <img src="https://previews.dropbox.com/p/thumb/ACn7Se-Q9abj7Q2_c2NGOVj3suQ0y6yI6xaLyvhW9BrutA0Qy8qyTVrTkfxk1T1O20LZxkhWLBtQRQdzakk6PCXKBwknAGdjCHgrZEiFgQMVCpXYKnXhlT0rLlj1PjE8wnE1GTYltmHvlRyfBikP1G77OgZqHK-t-bCVnBWnxiGU1D20fz4e4B9s6mbvKZk1MbqLECcA8lHNk4L8pvnE903blaUaf0cxcvEuMZFFpCl0khOCjHPdy3ZA7MJGYintHXsNM6CSizzgQPgA0NAS-vsTf7w8wopAmfUZEn9_Yn3jSvt7CGvJmmOeeaMW9k5lLKQGNPx6p51AfoW5jcE0rb5w/p.png"
                            alt="Visualización de datos">
                    </div>
                    <div class=" image-3">
                        <img src="https://previews.dropbox.com/p/thumb/ACnHoHHdgutfHIa8S8AgVL7jPNmblPS4_NgZyWEbw7dTAVAtS-0DGMYHpJBJDFzyqC0ScMaNINZWsSQMCmRJCFY0DpRGIUxineIamlBb7FrlhRFI-UmK4Li29v6j-kLq3nkFxsX9JAz0fNmAxtYY82f7QVMkAw15yTezlY3n9oaywy3Duk6_LurPmoZxgoV7URLOJfYdcDRDdokDUHsrG68MAM6PEJIVhJoRFTMVBNoy6de-usk713rhdM-jvznpNgZfdIrslcmxtw39pyQ075eIHdf_VGTdPi5ahaXf-d97KqhEDxePI0O0wmPLdygCves/p.png"
                            alt="Estadísticas interactivas">
                    </div>
                </div>
            </div>
        </div>

        <div class="color-slider"></div>
        <div class="glow-line"></div>

        <div class="data-point" style="top:15%; left:25%"></div>
        <div class="data-point" style="top:40%; left:65%"></div>
        <div class="data-point" style="top:70%; left:30%"></div>
        <div class="data-point" style="top:20%; left:80%"></div>
        <div class="data-point" style="top:60%; left:15%"></div>
    </section>
    <section class="section-descrip" >
        <div class="section-descrip-title">
            <h2>Nuestros Servicios</h2>
            <div class="title-underline"></div>
        </div>
        <div class="section-descrip-container">
            <div class="section-descrip-div">
                <div class="icon-container">
                    <box-icon name='bar-chart-square' color='rgba(0,0,0,0.34)'></box-icon>
                </div>
                <h3>Análisis de Datos</h3>
                <p>Análisis de datos precisos y detallados para tomar decisiones estratégicas</p>
            </div>
            <div class="section-descrip-div">
                <div class="icon-container">
                    <box-icon name='football' color='rgba(0,0,0,0.34)'></box-icon>
                </div>
                <h3>Estrategias</h3>
                <p>Estrategias competitivas para alcanzar tus objetivos</p>
            </div>
            <div class="section-descrip-div">
                <div class="icon-container">
                    <box-icon name='slideshow' color='rgba(0,0,0,0.34)'></box-icon>
                </div>
                <h3>Presentaciones</h3>
                <p>Presentaciones dinámicas que capturan la atención</p>
            </div>
        </div>
    </section>